@model MVC_ile_admin_Paneli.Models.entity.tblUrunler
@{
    ViewBag.Title = "UrunGuncelleSayfasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("UrunGuncelle", "urun", FormMethod.Post))
{
    <div class="form-group">
        <label>Ürün Ad</label>
        @Html.TextBoxFor(x => x.urunAd, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Ürün Marka</label>
        @Html.TextBoxFor(x => x.urunMarka, new { @class = "form-control" })
    </div> <div class="form-group">
        <label>Ürün Stok</label>
        @Html.TextBoxFor(x => x.urunStok, new { @class = "form-control" })
    </div> <div class="form-group">
        <label>Ürün Alis Fiyat</label>
        @Html.TextBoxFor(x => x.urunAlisFiyat, new { @class = "form-control" })
    </div> <div class="form-group">
        <label>Ürün Satis Fiyat</label>
        @Html.TextBoxFor(x => x.urunSatisFiyat, new { @class = "form-control" })
    </div> <div class="form-group">
        <label>Ürün Kategori</label>
        @Html.DropDownListFor(x => x.tblKategori.kategoriId, (List<SelectListItem>)ViewBag.kategori, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(x => x.urunId)
    <button class="btn btn-primary">Ürün Güncelle</button>
}



