@model MVC_ile_admin_Paneli.Models.entity.tblMusteri
@{
    ViewBag.Title = "musteriGuncelleSayfasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>musteriGuncelleSayfasi</h2>

@using (Html.BeginForm("musteriGuncelle", "musteri", FormMethod.Post))
{
    <div class="form-group">
        <label>Ürün Ad</label>
        @Html.TextBoxFor(x => x.musteriAd, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Ürün Marka</label>
        @Html.TextBoxFor(x => x.musterisSoyad, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Ürün Stok</label>
        @Html.TextBoxFor(x => x.musteriSehir, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Ürün Alis Fiyat</label>
        @Html.TextBoxFor(x => x.musteriBakiye, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(x => x.musteriId)
    <button class="btn btn-primary">Müşteri Güncelle</button>

}